.chart {
  background: none;
  margin: 5px;
}
.chart rect {
  stroke: none;
  fill: steelblue;
}
.chart .label {
  fill: #000;
}
.chart .score{
  fill: white;
}
.chart line {
  stroke: #c1c1c1;
} 
.chart rect:hover {
  fill: #64707D;
} 
.rule {
  fill: #000;
} 
